@import '~assets/stylesheets/globals.scss';

.navbar {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: $color-blue;
  top: 0px; 
  width: 100%;
}

.right {
  li {
    display: inline;
  }
}